* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --primary-color: #664236;
    --light-color: #FFFCF8;
    --dark-color: #2E170F;
  }
  
  body {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 16px;
    background: #FFF7E9;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    background: var(--dark-color); 
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    align-items: center;
    padding: 15px 0;
}
  
  .navbar .logo {
    width: 80px;
  } 
  
  .navbar .logo a {
    display: flex;
  }

  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    min-width: 90%;
    max-width: 100%;
  }
  
  .navbar .main-menu ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar .main-menu a {
    display: block;
    color: var(--light-color);
    font-weight: 500;
    transition: 0.5s;
    margin: 0 20px;
  }
  
  .navbar ul li a:hover {
    color: #B47A69;
    text-shadow: 1px 1px 2px black,
  }
  
  .navbar ul li a i {
    margin-right: -5px;
  }

  .navbar .dropdown {
    display: inline-block;
    position: relative;
  }

  .navbar .dropdown-content {
    display: none;
    font-weight: normal;
    min-width: 180px;
    color: #2E170F;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 1px rgba(0,0,0,0.2);
    padding: 5px 0;
    z-index: 1;
  }

  .navbar .dropdown-content a {
    padding: 12px 16px;
    color: #2E170F;
    text-decoration: none;
    display: block;
  }

  .navbar .dropdown:hover .dropdown-content {
    display: block;
  }


.navbar .dropdown-content a:hover {
    background-color: #f0f0f0;
}

  .navbar .side-dropdown {
    display: inline-block;
    width: 180px;
  }

  .navbar .side-dropdown-content {
    display: none;
    position: absolute;
    width: 180px;
    padding: 5px 0;
    top: 0;
    left: 100%;
    box-shadow: 1px rgba(0,0,0,0.2);
    background-color: #f9f9f9;
    z-index: 1;
}


.navbar .side-dropdown:hover .side-dropdown-content {
    display: block;
}

.navbar .side-dropdown-content a {
    color: #333;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}

.navbar .side-dropdown-content:hover {
    display: block;
}

.navbar .side-dropdown > a {
    display: block;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
}

.navbar .side-dropdown-content a:hover {
    background-color: #f0f0f0;
}
  
  /* Hero */
  .hero {
    display: flex;
    width: 95%;
    background-color: #664236;
    color: #F6E9D4;
    border-radius: 10px;
    text-align: center;
    margin: 30px auto;
  }
  
  .hero .container {
    display: block;
    text-align: center;
    margin: 40px auto;
  }
  
  .hero .content {
    display: block;
    text-align: center;
  }
  
  .hero .logo {
    max-width: 45%;
    margin: 0 auto 20px
  }
  
  .hero .logo img {
    border-radius: 5px;
  }

  .hero-heading {
    display: block;
    font-size: 2.15rem;
    margin: 0
}

  .hero .hero-list-container {
    display: flex;
    justify-content: center;
}

  .hero .hero-list ul {
    display: flex;
    font-family: "Sarabun", sans-serif;
    font-weight: normal;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;
    padding: 0;
    width: 650px;
  }

  .hero .hero-list li {
    font-size: 1.5rem;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
  }
  
  .hero .text-container {
    display: block;
    text-align: center;
    margin: 0 0 30px;
  }
  
  .hero .hero-text {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5
  }
  
  /* Slideshow */
  .slideshow {
    padding: 10px 0;
  }

  .slideshow .container {
    border: black;
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  .slideshow .container img {
    border: 6px solid #664236;
  }
  
  .slideshow .slideshow-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .slideshow .slideshow-preview {
    margin-bottom: 20px;
  }
  
  .mySlides {
    display: block;
    animation: fade 1.5s ease;
  }
  
  /* Next & previous buttons */
  .prev {
    cursor: pointer;
    text-align: left;
    position: absolute;
    top: 45%;
    width: 45px;
    height: 45px;
    padding: 0;
    left: 18px;
    color: black;
    border-radius: 50%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
  
  /* Position the "next button" to the right */
  .next {
    cursor: pointer;
    text-align: center;
    position: absolute;
    top: 45%;
    width: 45px;
    height: 45px;
    padding: 0;
    right: 18px;
    color: black;
    border-radius: 50%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.5);
    color: white;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: opacity 1s ease-in-out;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  @keyframes fade {
    from { opacity: 0.5 }
    to { opacity: 1 }
  }

  /* Product */
  .product {
    padding: 20px 0;
  }
  
  .product .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  
  .product .image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0;
  }

  .product .image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
  }
  
  .product .image-wrapper img {
    width: 400px;
    border: 3px solid #F3CC71;
    border-radius: 15px;
    padding: 5px;
  }
  
  .product .image-wrapper p {
    font-size: 30px;
    font-family: "Sarabun", sans-serif;
    letter-spacing: 1.25px;
    margin-top: 10px;
  }

  .product .slideshow {
    position: relative;
    padding-top: 0;
  }
  
  .product .mySlides1 {
    display: block;
    animation: fade 1.5s ease;
  }
  
  .product .mySlides2 {
    display: block;
    animation: fade 1.5s ease;
  }

.product .slideshow img {
  display: block;
}

.product .slideshow .prev,
.product .slideshow .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  z-index: 1;
}

.product .slideshow .prev {
  left: 0;
}

.product .slideshow .next {
  right: 0;
}
  
  /* Map */
  .map {
    padding: 20px 0;
    text-align: center;
  }

  .map .container {
    display: flex;
    max-width: 65%;
    justify-content: center;
    padding: 0
  }

  .map .container img{
    border: 6px solid #664236;
  }

  .map .container a {
    display: flex;
  }
  
  /* Map */
  .photo {
    padding: 20px 0;
  }

  .photo .container {
    display: flex;
    max-width: 65%;
    justify-content: center;
    padding: 0
  }

  .photo .container img {
    border: 6px solid #664236;
    padding: 0
  }

  /* Footer */
  .footer {
    padding: 30px 0;
    color: var(--light-color);
    background-color: #2E170F;
  }
  
  .footer p {
    display: block;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 15px;
  }
  
  .footer h4 {
    margin-bottom: 10px;
  }
  
  .footer ul li {
    line-height: 2;
    
  }
  
  .footer a {
    color: #fff;
  }
  
  .footer i {
    font-size: 1.5rem;
    margin-right: 1px;
  }
  
  .footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  
  .footer-logo {
    justify-content: center;
    align-items: center;
  } 
  
  .footer-logo img {
    max-width: 325px;
    border-radius: 8px;
  } 
  
  .footer-logo a {
    display: flex;
    align-items: center;
  }
  
  .footer .card {
    margin: 20px 30px 30px 0;
  }
  
  .footer input[type='email'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
  }
  
  /* Utility Classes */
  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  /* Card */
  .card {
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 20px;
  }
  
  /* Buttons */
  .btn {
    display: inline-block;
    font-size: 20px;
    background: var(--light-color);
    color: #333;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
    padding: 10px 20px;
    margin-right: 10px;
  }
  
  .btn:hover {
    background: #2E170F;
    color: #F6E9D4;
  }
  
  .btn-primary {
    background: var(--primary-color);
    color: #fff;
  }
  
  .btn-dark {
    background: var(--dark-color);
    color: #fff;
  }
  
  .btn-block {
    display: block;
    width: 100%;
  }
  
  /* Text Classes */
  .text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
  }
  
  .text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
  }
  
  .text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
  }
  
  .text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
  }
  
  .text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
  }
  
  .text-center {
    text-align: center;
  }
  
  /* Background */
  .bg-primary {
    background: var(--primary-color);
    color: #fff;
  }
  
  .bg-light {
    background: var(--light-color);
    color: #333;
  }
  
  .bg-dark {
    background: var(--dark-color);
    color: #fff;
  }
  
  .bg-black {
    background: #000;
    color: #fff;
  }
  
  /* Hamburger Button */
  .hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
  }
  
  .hamburger-button .hamburger-line {
    width: 30px;
    height: 3px;
    background: #333;
    margin: 6px 0;
  }
  
  /* Mobile Menu */
  .mobile-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    z-index: 100;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
  }
  
  .mobile-menu.active {
    right: 0;
  }
  
  .mobile-menu ul {
    margin-top: 100px;
    padding-right: 10px;
  }
  
  .mobile-menu ul li {
    margin: 10px 0;
  }
  
  .mobile-menu ul li a {
    font-size: 20px;
    transition: 0.3s;
  }
  
  /* Media Queries */
  @media (max-width: 960px) {
    .text-xxl {
      font-size: 2.5rem;
    }
  }
  
  @media (max-width: 670px) {
    .navbar .main-menu {
      display: none;
    }
  
    .navbar .hamburger-button {
      display: block;
    }
  
    .hero .container {
      background-size: 350px 400px;
      background-position: bottom;
      height: 770px;
    }
  
    .hero .hero-content,
    .hero .hero-text {
      width: 100%;
      align-items: center;
    }
  
    .hero .hero-buttons .btn {
      display: block;
      font-family: "Quicksand", serif;
      width: 100%;
    }
  
  
    .testimonials .testimonials-heading {
      max-width: 100%;
      text-align: center;
    }
  
    .testimonials .testimonials-grid,
    .pricing .pricing-grid,
    .footer .footer-grid {
      grid-template-columns: 1fr;
    }
  
    .footer .card {
      margin-right: 0;
    }
  
    .footer .footer-grid > div {
      text-align: center;
    }
  
    /* Text */
    .text-xl {
      font-size: 1.9rem;
    }
  
    .text-lg {
      font-size: 1.5rem;
    }
  
    .text-md {
      font-size: 1.1rem;
    }
  }
  
  @media (max-width: 500px) {
    .text-xxl {
      font-size: 2rem;
    }
  }